
<table  class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList ">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        <td>{{product.discount}}</td>
        <td>{{product.image}}</td>
        <td><button (click)="switchIsPurshased()" class="btn btn-danger">Buy</button></td>
      </tr>
    </tbody>
  </table>
