<p>singlepost works!</p>
<div class="container">
    <h2>Post</h2>
    <h2>{{errorMessage}}</h2>
    <div class="card-columns">
        <div class="card bg-primary text-light">
            <div class="card-body text-center">
                <p class="card-text">{{Post.id}}</p>
                <p class="card-text">{{Post.title}}</p>
                <p class="card-text">{{Post.body}}</p>
            </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Comments</h2>
    <h2>{{errorMessage}}</h2>
    <div class="card-columns">
        <div  *ngFor="let comment of Comments" class="card bg-warning text-light">
            <div class="card-body text-center">
                <p class="card-text">{{comment.id}}</p>
                <p class="card-text">{{comment.title}}</p>
                <p class="card-text">{{comment.body}}</p>
            </div>
      </div>
    </div>
  </div>