<div class="container">
    <h2>Posts</h2>
    <h2>{{errorMessage}}</h2>
    <div class="card-columns">
        <div *ngFor="let post of Posts" class="card bg-primary text-light">
            <div class="card-body text-center">
                <p class="card-text">{{post.id}}</p>
                <p class="card-text">{{post.title}}</p>
                <p class="card-text">{{post.body}}</p>
                <button class="btn btn-warning" (click)="showPost(post)">Show Post</button>
            </div>
      </div>
    </div>
  </div>